<header class="header">
  <div class="container">
      <div class="header__inner">
          <div class="header__logo">
              <img src="./img/svg/header__img.svg" class="header__logoImg" />
              <div class="header__info">
                  <h1 class="header__title">Pizza Store</h1>
                  <p class="header__text">
                      The most tasty pizza in world!
                  </p>
              </div>
          </div>
          <a href="#" class="purchaseBtn">
              <div class="header__paymentInfo">
                  <span class="header__paymentInfoAmount">570$</span>
                  <span class="header__paymentInfoPizzaCount">10</span>
              </div>
          </a>
      </div>
  </div>
</header>